<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vwap.justwatch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA4D3B0-8923-43F1-98CE-54A463ED468B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDA4D3B0-8923-43F1-98CE-54A463ED468B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93C228D4-9D5E-455E-BE3C-D3A2F11827AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>VWAP</string>
	<key>description</key>
	<string>Find where to stream your movies and tv shows.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JustWatch - Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>providers</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/python main.py -t "{query}" -i $LOCALE</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading streaming options..</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CDA4D3B0-8923-43F1-98CE-54A463ED468B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>justwatch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>/usr/bin/python main.py -i $LOCALE -s {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>test.sh</string>
				<key>subtext</key>
				<string>Start typing the name of the movie/tv-show you are looking to stream..</string>
				<key>title</key>
				<string>Find streaming options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>93C228D4-9D5E-455E-BE3C-D3A2F11827AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Just Watch
Find where to stream your favourite movies and tv shows in an instant. No more logging into each of netflix, prime et al to check where a movie or tv-show is available.

Based on an unofficial JustWatch API.

Note: 
- Set your locale in the workflow variable. Default locale : AU
- Look up your Country's ISO Code here - https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

Get in touch - https://twitter.com/vinayw

Github - https://github.com/vinaywadhwa/Go-Home-Alfred</string>
	<key>uidata</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>note</key>
			<string>Searches for movies and tv shows for the given search keyword</string>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>93C228D4-9D5E-455E-BE3C-D3A2F11827AE</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>CDA4D3B0-8923-43F1-98CE-54A463ED468B</key>
		<dict>
			<key>note</key>
			<string>Shows the list of providers which offer the selected movie/tv show</string>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>LOCALE</key>
		<string>AU</string>
	</dict>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>https://twitter.com/vinayw</string>
</dict>
</plist>
